.geral {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3px;
  min-width: 340px;
  padding: 2px;
  position: relative;
  
  height: 570px;
}

.botoes{
 margin-top: 12px;
  
}


.cards{

  width: 634px;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
   

}

.card{
  
  width: 634px;
  height: 340px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.botoes{
  display: flex;
  gap: 23px;

  .btnEditar{
    background-color: gray;
    border-radius: 5px;
    
  }
  .btnFecha{
    background-color:#06A0EC ;
    border-radius: 5px;
    
  }
  .btnExcluir{
    background-color:red ;
    border-radius: 5px;
    
  }

  .btnPDF{
    background-color: green;
    border-radius: 5px;
  }
}