.geral {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3px;
  min-width: 340px;
  padding: 2px;
  position: relative;
  
  height: 570px;
}

.botoes{
 margin-top: 12px;
  
}


.cards{
  
  width: 634px;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
   

}

.card{
  // background-color: red;
  width: 634px;
  height: 340px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}