.geral {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100vw;
  height: 90vh;
  padding: 10px;
  position: relative;

  h1 {
    color: #06a0ec;
    font-size: 24px;
  }
}

.container {
  margin-top: -152px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 840px;
  height: 400px;
  padding: 10px;
  border: 1px solid black;
  margin-top: 123px;
}

.fns {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 734px;
  padding: 12px;
  border: 1px solid black;

  .nomeSexo {
    width: 65%;
    padding: 5px;
  }
  .foto {
    width: 35%;
    height: 110px;
    
    .icon {
      font-size: 123px;
    }
    



  }
}

/* Adicione um media query para ajustar os campos em telas menores */
@media (max-width: 768px) {
  .form {
    width: 80%;
    height: 70%;
    flex-direction: column;
    padding: 16px;
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-bottom: 22px;
  }
  .container {
    margin-top: 22px;
  }
}
