.geral {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100vw;
  height: 90vh;
  padding: 10px;
  position: relative;

  h1 {
    color: #06a0ec;
    font-size: 24px;
  }
}

.container {
  margin-top: -152px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 840px;
  height: 400px;
  padding: 10px;
  border: 1px solid black;
  margin-top: 123px;
}

.fns {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 734px;
  padding: 12px;
  border: 1px solid black;

  .nomeSexo {
    width: 50%;
    padding: 5px;

    .nome {
      margin-bottom: 22px;
    }
  }
  .foto {
    width: 50%;
    height: 128px;
    margin-top: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;

    .iconeFoto {
      width: 50%;
      height: 124px;

      .input {
        margin-top: -12px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 173px;
      }

      .icon {
        width: 933px;
        height: 133px;
        overflow: hidden;
        align-items: center;
        display: flex;
        justify-content: center;

        .imgPla {
          width: 220px;
          height: 123px; 
        }
      }
    }

    .descFoto {
      width: 50%;
      color: #06a0ec;

      flex-direction: column;
      overflow: hidden;
      img {
        width: 12px;
      }

      .fotoInput{
        background-color: #f6f9fb;
        border: 2px solid black;
        height: 22px;
        color: #06a0ec;
        
      }
    }
  }
}

/* Adicione um media query para ajustar os campos em telas menores */
@media (max-width: 768px) {
  .form {
    width: 80%;
    height: 70%;
    flex-direction: column;
    padding: 16px;
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-bottom: 22px;
  }
  .container {
    margin-top: 22px;
  }
}
