
.cardGeral{
  
  padding: 13px;
}

.user-card {
  width: 300px;
  margin: 6px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 

   div{
 
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 12px;
   } 


  .card-content {
    padding: 2px;

    .user-name {
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 8px;
    }

    .user-details {
      margin-bottom: 4px;
    }
  }
  .user-image {
    width: 123px;
    height: 123px;
    align-items: center;
    

    img{
      width: 120px;
      height: 122px;
    }

  }
  .botoes{
    margin-top: -22px;
    gap: 12px;
  }
  
}
.user-card {
  border: 2px solid transparent;

}
.user-card.demitido {
  border-color: red; 
}
.user-card.ativo {
  border-color: green; 
}
.ativo{
  color: green;
}
.demitido{
  color: red;
}