.botoes {
  margin-top: 12px;
}

.cards {
  width: 634px;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botoes {
  display: flex;
  gap: 23px;

  .btnEditar {
    background-color: gray;
    border-radius: 5px;
  }
  .btnFecha {
    background-color: #06a0ec;
    border-radius: 5px;
  }
  .btnExcluir {
    background-color: red;
    border-radius: 5px;
  }

  .btnPDF {
    background-color: green;
    border-radius: 5px;
  }
}

.geral {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  background-color: #eae1e1;
  padding: 20px;
  border: 1px solid #06a0ec;
  border-radius: 8px;
  overflow: hidden;
  width: 900px;
  margin: 20px;
  box-shadow: 0px 0px 3px #06a0ec;
  height: 340px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;

  .paragraph {
    width: 437px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #06a0ec;

    overflow: hidden;
    flex-wrap: wrap;
  }

  .cargoParagrafo {
    width: 237px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #06a0ec;

    overflow: hidden;
    flex-wrap: wrap;
  }

  .status{
    width: 243px;
    
  }

  span {
    color: black;
    width: 237px;

    
    align-items: center;
    justify-self: center;
    word-break: break-all;
  }

  .historico {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 2px solid #06a0ec;
    border-left: 2px solid #06a0ec;
    
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 242px;
    h4 {
      margin-bottom: 8px;
    }
    p{
      
    width: 292px;
    margin: 6px;
    align-items: center;
    

    }
  }
}

.botoes {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .btnEditar,
  .btnFecha,
  .btnExcluir {
    margin-right: 10px;
  }
}
