.geral{
  display: flex; 
  align-items: center;
  justify-content: center;
 flex-wrap: wrap;
 flex-direction: column;
  gap: 10px;
  width: 100vw;
  min-height: 100vh;
  padding: 10px;
  position: relative;

  h1{
    color: #06A0EC;
    font-size: 24px;
  }
  
  
  
}
/* UserCard.module.scss */
.userList{
  width: 90vw;
  min-height: 90vh;
  margin: 16px;
  border-radius: 8px;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
background-color: #06A0EC;
}
