.geral{
    width: 100vw;
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aquamarine;
  overflow-x: hidden;
  

  h2{
    color: #06A0EC;
    font-size: 24px;
  }
  li{
    color: black;
  }
}