.geral {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 13px;
  width: 440px;
  min-height: 10vh;
  padding: 22px;
  position: relative;
}

.card{
  width: 230px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 5px;

}