*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
}

.logo{
  
  width: 350px;
  height: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.container{
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.pagina{
  
   width: 210mm;
  height: 297mm;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid #060505;
  padding: 22px;
}

.pagina h2{
  background-color:  #06A0EC;
  border: 1px solid #444343;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
}

.nome-imagem{
  align-items: center;
  background-color: rgb(218, 215, 220);
  justify-content: center;
  display: flex;
  width: 100%;
}

.pagina-nome{
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: aqua;
}

.pagina-nome p{
  color: #060505;

}
.pagina-imagem{
  width: 50%;
}

.pagina-imagem img{
  width: 100%;
}