*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
}

.logo{
  
  width: 350px;
  height: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.container{
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.pagina{
   width: 210mm;
  height: 297mm;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid #d6d4d4;
  padding: 22px;
  margin-bottom: 12px;
  overflow: hidden;
}

.pagina h1{
  color: #06A0EC;
}
.funcionario{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:18px ;
}

.pagina-nome{
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 2px solid #06A0EC;
  border-left: 2px solid #06A0EC;
  border-right: 2px solid #06A0EC;
  position: relative;
  margin-bottom:38px ;


}

.pagina-nome p{
  margin-bottom: 13px;
  color: #06A0EC;
  margin-top: 12px;
}
.pagina-nome span{
  color: black;
 }


.contato{
  border: 1px solid #d6d4d4;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  margin-bottom:38px ;
  

}
.contato p{
   margin-bottom: 13px;
  color: #06A0EC;
  margin-top: 12px;
}

.contato span{
  color: black;
}

.contato-h2{
  background-color: white;
  color: #06A0EC;
  margin-top: -22px;
  width: 322px;
  display: flex;
  align-items: center; 
  justify-content: center;
  margin-left: -382px;
}

.contato-endereco{

  width: 425px;
  height: 50px;
  
  word-break: break-all; 
}

.contato-nomes{
  
  display: flex;
  justify-content: space-around;
  width: 100%;
}



.informacoes{
  margin-top: 5px;
}

.informacoes-trabalho {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d6d4d4;
  margin-top: -18px;
}

.informacoes-trabalho p{
   margin-bottom: 13px;
  color: #06A0EC;
  margin-top: 12px;
}
.informacoes-trabalho span{
  color: black;
}
.grupo-superior,
.grupo-inferior {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.grupo-superior {
  margin-bottom: 2px; 
  
}

.empresa{
  margin-top: -18px;
  
  background-color: white;
  width: 272px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: -442px;
  color: #06A0EC;
}

.historico-funcionario{
  border: 1px solid #d6d4d4;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 28px;
  
}

.historico{
  margin-top: -18px;
  color: #06A0EC;
  background-color:white;
  width: 272px;
  margin-left: -442px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.historico-cargo{
  width: 100%;
  
  
  height: min-content;
    overflow-y: auto;
    overflow: hidden;
}

.historicos-cargos{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}
.historicos-cargos p{
  color: #06A0EC;
  font-size: 13px;
}

.historicos-cargos span{
  color: black;
}

.funcionario-demitido span {
  color: red; /* Estilo para funcionários demitidos */
}

.funcionario-ativo span {
  color: green; 
}
.informacoes-trabalho{
  margin-top: 12px;
}
